<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- Netaxept -->
    <component id ="Netaxept"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Netaxept.NetaxeptPaymentMethodService, UCommerce.Transactions.Payments" />

  </components>
</configuration>