<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- Braintree Payments -->
    <component id="Braintree Payments"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Braintree.BraintreePaymentMethodService, UCommerce.Transactions.Payments" />

    <component id="BraintreePageBuilder"
               service="UCommerce.Transactions.Payments.Braintree.BraintreePageBuilder, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.Braintree.BraintreePageBuilder, UCommerce.Transactions.Payments" />
  </components>
</configuration>