<configuration>
	<components>
		<!-- Stripe Payments -->
		<component id="Stripe Payments"
		           service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
		           type="Ucommerce.Transactions.Payments.StripeNet.StripePaymentMethodService, Ucommerce.Transactions.Payments.StripeNet" />

		<component id="StripePageBuilder"
		           service="Ucommerce.Transactions.Payments.StripeNet.StripePageBuilder, Ucommerce.Transactions.Payments.StripeNet"
		           type="Ucommerce.Transactions.Payments.StripeNet.StripePageBuilder, Ucommerce.Transactions.Payments.StripeNet" />
	</components>
</configuration>