<!--
	Configuration for the uCommerce Online Payment Systems.
-->
<configuration>
	<components>
		
		<!-- Adyen -->
		<component id="Adyen"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.Adyen.AdyenPaymentMethodService, UCommerce.Transactions.Payments">
			<parameters>
				<httpExtractor>${AdyenHttpExtractor}</httpExtractor>
			</parameters>
		</component>

		<component id="AdyenHttpExtractor"
				service="UCommerce.Transactions.Payments.IHttpPaymentExtractor, UCommerce"
				type="UCommerce.Transactions.Payments.Adyen.AdyenHttpPaymentExtractor, UCommerce.Transactions.Payments" />

		<component id="AdyenPageBuilder"
				service="UCommerce.Transactions.Payments.Adyen.AdyenPageBuilder, UCommerce.Transactions.Payments"
				type="UCommerce.Transactions.Payments.Adyen.AdyenPageBuilder, UCommerce.Transactions.Payments" />

		<!-- Authorize.Net -->
		<component id="Authorize.Net"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="AuthorizeNetPageBuilder"
			service="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPageBuilder, UCommerce.Transactions.Payments" />

		<!-- Braintree Payments -->
		<component id="Braintree Payments"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.Braintree.BraintreePaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="BraintreePageBuilder"
			service="UCommerce.Transactions.Payments.Braintree.BraintreePageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.Braintree.BraintreePageBuilder, UCommerce.Transactions.Payments" />

		<!-- DIBS -->
		<component id="DIBS"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.Dibs.DibsPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="DibsMd5Computer"
			service="UCommerce.Transactions.Payments.Dibs.DibsMd5Computer, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.Dibs.DibsMd5Computer, UCommerce.Transactions.Payments" />

		<component id="DibsPageBuilder"
			service="UCommerce.Transactions.Payments.Dibs.DibsPageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.Dibs.DibsPageBuilder, UCommerce.Transactions.Payments">
			<parameters>
				<Debug>false</Debug>
			</parameters>
		</component>

		<!-- ePay -->
		<component id="ePay"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.EPay.EPayPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="EPayPageBuilder"
			service="UCommerce.Transactions.Payments.EPay.EPayPageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.EPay.EPayPageBuilder, UCommerce.Transactions.Payments" />

		<component id="EPayMd5Computer"
			service="UCommerce.Transactions.Payments.EPay.EPayMd5Computer, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.EPay.EPayMd5Computer, UCommerce.Transactions.Payments" />

		<!-- eWay -->
		<component id="eWAY"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.EWay.EWayPaymentMethodService, UCommerce.Transactions.Payments" />

		<!-- Global Collect -->
		<component id="Global Collect"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.GlobalCollect.GlobalCollectPaymentMethodService, UCommerce.Transactions.Payments">
			<parameters>
				<paymentExtractor>${GlobalCollectHttpExtractor}</paymentExtractor>
			</parameters>
		</component>

		<component id="GlobalCollectHttpExtractor"
				service="UCommerce.Transactions.Payments.IHttpPaymentExtractor, UCommerce"
				type="UCommerce.Transactions.Payments.GlobalCollect.GlobalCollectHttpPaymentExtractor, UCommerce.Transactions.Payments" />

		<component id="GlobalCollectService"
				   service="UCommerce.Transactions.Payments.GlobalCollect.IGlobalCollectService, UCommerce.Transactions.Payments"
				   type="UCommerce.Transactions.Payments.GlobalCollect.GlobalCollectService, UCommerce.Transactions.Payments">
			<parameters>
				<languageCodeMapper>${GlobalCollectLanguageCodeMapper}</languageCodeMapper>
			</parameters>
		</component>

		<component id="GlobalCollectLanguageCodeMapper"
				   service="UCommerce.Infrastructure.Globalization.ILanguageCodeMapper, UCommerce.Infrastructure"
				   type="UCommerce.Infrastructure.Globalization.LanguageCodeMapper, UCommerce.Infrastructure">
			<parameters>
				<map>
					<dictionary>
						<entry key="nb">no</entry>
					</dictionary>
				</map>
			</parameters>
		</component>
		
		<!-- Ideal (Ing Bank) -->
		<component id="Ideal (Ing Bank)"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.Ideal.Ing.IdealPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="IdealIngPageBuilder"
			service="UCommerce.Transactions.Payments.Ideal.Ing.IdealPageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.Ideal.Ing.IdealPageBuilder, UCommerce.Transactions.Payments">
			<parameters>
				<Debug>True</Debug>
			</parameters>
		</component>

		<!-- MultiSafepay -->
		<component id="MultiSafepay"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="MultiSafepayPaymentRequestBuilder"
			service="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentRequestBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayPaymentRequestBuilder, UCommerce.Transactions.Payments" />

		<component id="MultiSafepayStatusRequestBuilder"
			service="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayStatusRequestBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayStatusRequestBuilder, UCommerce.Transactions.Payments" />

		<component id="MultiSafepayHttpRequester"
			service="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayHttpRequester, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.MultiSafepay.MultiSafepayHttpRequester, UCommerce.Transactions.Payments" />

		<!-- Netaxept -->
		<component id ="Netaxept"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.Netaxept.NetaxeptPaymentMethodService, UCommerce.Transactions.Payments" />

		<!-- Ogone -->
		<component id="Ogone"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.Ogone.OgonePaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="OgonePageBuilder"
			service="UCommerce.Transactions.Payments.Ogone.OgonePageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.Ogone.OgonePageBuilder, UCommerce.Transactions.Payments">
		</component>

		<!-- Payer -->
		<component id="Payer"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.Payer.PayerPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="PayerPageBuilder"
			service="UCommerce.Transactions.Payments.Payer.PayerPageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.Payer.PayerPageBuilder, UCommerce.Transactions.Payments" />

		<component id="PayerMd5Computer"
			service="UCommerce.Transactions.Payments.Payer.PayerMd5Computer, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.Payer.PayerMd5Computer, UCommerce.Transactions.Payments" />

		<!-- PayEx -->
		<component id="PayEx"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.PayEx.PayExPaymentMethodService, UCommerce.Transactions.Payments" />
		
		<component id="PayExMd5Computer"
			service="UCommerce.Transactions.Payments.PayEx.PayExMd5Computer, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.PayEx.PayExMd5Computer, UCommerce.Transactions.Payments" />

		<!-- PayPal -->
		<component id="PayPal Express"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.PayPal.PayPalExpressPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="PayPal Subscriptions"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.PayPal.PayPalRecurringPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder"
			service="UCommerce.Transactions.Payments.PayPal.PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.PayPal.PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder, UCommerce.Transactions.Payments"/>

		<!-- SagePay -->
		<component id="SagePayV3"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.SagePay.SagePayV3PaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="SagePayMd5Computer"
			service="UCommerce.Transactions.Payments.SagePay.SagePayMd5Computer, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.SagePay.SagePayMd5Computer, UCommerce.Transactions.Payments" />

		<!-- WorldPay -->
		<component id="WorldPay"
			service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
			type="UCommerce.Transactions.Payments.WorldPay.WorldPayPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="WorldPayPageBuilder"
			service="UCommerce.Transactions.Payments.WorldPay.WorldPayPageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.WorldPay.WorldPayPageBuilder, UCommerce.Transactions.Payments" />

		<component id="WorldPayMd5Computer"
			service="UCommerce.Transactions.Payments.WorldPay.WorldPayMd5Computer, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.WorldPay.WorldPayMd5Computer, UCommerce.Transactions.Payments" />

		<!-- Quickpay -->
		<component id="Quickpay"
				service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
				type="UCommerce.Transactions.Payments.Quickpay.QuickpayPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="QuickpayPageBuilder"
				service="UCommerce.Transactions.Payments.Quickpay.QuickpayPageBuilder, UCommerce.Transactions.Payments"
				type="UCommerce.Transactions.Payments.Quickpay.QuickpayPageBuilder, UCommerce.Transactions.Payments">
			<parameters>
				<Debug>false</Debug>
			</parameters>
		</component>

		<component id="QuickpayMd5Computer"
				service="UCommerce.Transactions.Payments.Quickpay.QuickpayMd5Computer, UCommerce.Transactions.Payments"
				type="UCommerce.Transactions.Payments.Quickpay.QuickpayMd5Computer, UCommerce.Transactions.Payments" />

		<!-- Schibsted -->
		<component id="Schibsted"
					service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
					type="UCommerce.Transactions.Payments.Schibsted.SchibstedPaymentMethodService, UCommerce.Transactions.Payments" />

		<component id="SchibstedPageBuilder"
					service="UCommerce.Transactions.Payments.Schibsted.SchibstedPageBuilder, UCommerce.Transactions.Payments"
					type="UCommerce.Transactions.Payments.Schibsted.SchibstedPageBuilder, UCommerce.Transactions.Payments">
			<parameters>
				<Debug>false</Debug>
			</parameters>
		</component>

		<component id="SchibstedSha256Computer"
					service="UCommerce.Transactions.Payments.Schibsted.SchibstedSha256Computer, UCommerce.Transactions.Payments"
					type="UCommerce.Transactions.Payments.Schibsted.SchibstedSha256Computer, UCommerce.Transactions.Payments" />

		<component id="Schibsted Subscription"
					service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
					type="UCommerce.Transactions.Payments.Schibsted.SchibstedRecurringPaymentMethodService, UCommerce.Transactions.Payments" />

		<!-- Secure Trading -->
		<component id="SecureTradingHttpPaymentExtractor"
				service="UCommerce.Transactions.Payments.IHttpPaymentExtractor, UCommerce"
				type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingHttpPaymentExtractor, UCommerce.Transactions.Payments" />

		<component id="Secure Trading"
				service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
				type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingPaymentMethodService, UCommerce.Transactions.Payments">
			<parameters>
				<httpExtractor>${SecureTradingHttpPaymentExtractor}</httpExtractor>
				<numberOfRetriesForTransactionQuery>4</numberOfRetriesForTransactionQuery>
				<secondsToWaitOnRetryForQuery>4</secondsToWaitOnRetryForQuery>
			</parameters>
		</component>

		<component id="SecureTradingPageBuilder"
			service="UCommerce.Transactions.Payments.SecureTrading.SecureTradingPageBuilder, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingPageBuilder, UCommerce.Transactions.Payments" />

		<component id="SecureTradingMd5Computer"
			service="UCommerce.Transactions.Payments.SecureTrading.SecureTradingMd5Computer, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingMd5Computer, UCommerce.Transactions.Payments" />

		<component id="SecureTradingXmlRequester"
			service="UCommerce.Transactions.Payments.SecureTrading.SecureTradingXmlRequester, UCommerce.Transactions.Payments"
			type="UCommerce.Transactions.Payments.SecureTrading.SecureTradingXmlRequester, UCommerce.Transactions.Payments" />
	</components>
</configuration>