<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- Authorize.Net -->
    <component id="Authorize.Net"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPaymentMethodService, UCommerce.Transactions.Payments" />

    <component id="AuthorizeNetPageBuilder"
               service="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPageBuilder, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.Authorizedotnet.AuthorizedotnetPageBuilder, UCommerce.Transactions.Payments" />
  </components>
</configuration>