<configuration>
  <components>
    <!-- Nets -->
    <component id="Nets"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Nets.NetsEasyPaymentMethodService, Ucommerce.Transactions.Payments.Nets" />

    <component id="NetsPageBuilder"
               service="Ucommerce.Transactions.Payments.Nets.NetsPageBuilder, Ucommerce.Transactions.Payments.Nets"
               type="Ucommerce.Transactions.Payments.Nets.NetsPageBuilder, Ucommerce.Transactions.Payments.Nets">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>
    
  </components>
</configuration>