<configuration>
  <components>
    <!-- Quickpay -->
    <component id="Quickpay"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Quickpay.QuickpayV10PaymentMethodService, Ucommerce.Transactions.Payments.Quickpay" />

    <component id="QuickpayPageBuilder"
               service="Ucommerce.Transactions.Payments.Quickpay.QuickpayPageBuilder, Ucommerce.Transactions.Payments.Quickpay"
               type="Ucommerce.Transactions.Payments.Quickpay.QuickpayV10PageBuilder, Ucommerce.Transactions.Payments.Quickpay">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>

    <component id="QuickpayMd5Computer"
               service="Ucommerce.Transactions.Payments.Quickpay.QuickpayMd5Computer, Ucommerce.Transactions.Payments.Quickpay"
               type="Ucommerce.Transactions.Payments.Quickpay.QuickpayMd5Computer, Ucommerce.Transactions.Payments.Quickpay" />


    <!-- Adds ExecuteAddShoeDefinitionPipeline task into the Initialize pipeline -->
    <partial-component id="Initialize">
	    <parameters>
		    <tasks>
			    <array>
				    <item insert="last">${Initialize.QuickpayInitializationPipelineTask}</item>
			    </array>
		    </tasks>
	    </parameters>
    </partial-component>

    <!-- This is the configuration of the task which executes the AddShoeDefintion pipeline -->
    <component id="Initialize.QuickpayInitializationPipelineTask"
               service="UCommerce.Pipelines.IPipelineTask`1[[UCommerce.Pipelines.Initialization.InitializeArgs, UCommerce.Pipelines]], UCommerce"
               type="Ucommerce.Transactions.Payments.Quickpay.Pipelines.Initialize.QuickpayExtendedPaymentDefinitionTask, Ucommerce.Transactions.Payments.Quickpay" />

  </components>
</configuration>