<configuration>
	<components>
		<!-- Stripe Payments -->
		<component id="Stripe.com"
		           service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
		           type="Ucommerce.Transactions.Payments.Stripe.StripePaymentMethodService, Ucommerce.Transactions.Payments.Stripe" />

		<component id="Stripe.com (subscription)"
		           service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
		           type="Ucommerce.Transactions.Payments.Stripe.StripeSubscriptionPaymentMethodService, Ucommerce.Transactions.Payments.Stripe" />

		<component id="StripePageBuilder"
		           service="Ucommerce.Transactions.Payments.Stripe.StripePageBuilder, Ucommerce.Transactions.Payments.Stripe"
		           type="Ucommerce.Transactions.Payments.Stripe.StripePageBuilder, Ucommerce.Transactions.Payments.Stripe" />
	</components>
</configuration>