<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- Schibsted -->
    <component id="Schibsted"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Schibsted.SchibstedPaymentMethodService, UCommerce.Transactions.Payments" />

    <component id="SchibstedPageBuilder"
               service="UCommerce.Transactions.Payments.Schibsted.SchibstedPageBuilder, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.Schibsted.SchibstedPageBuilder, UCommerce.Transactions.Payments">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>

    <component id="SchibstedSha256Computer"
               service="UCommerce.Transactions.Payments.Schibsted.SchibstedSha256Computer, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.Schibsted.SchibstedSha256Computer, UCommerce.Transactions.Payments" />

    <component id="Schibsted Subscription"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Schibsted.SchibstedRecurringPaymentMethodService, UCommerce.Transactions.Payments" />

  </components>
</configuration>