<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- DIBS -->
    <component id="DIBS"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Dibs.DibsPaymentMethodService, UCommerce.Transactions.Payments" />

    <component id="DibsMd5Computer"
               service="UCommerce.Transactions.Payments.Dibs.DibsMd5Computer, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.Dibs.DibsMd5Computer, UCommerce.Transactions.Payments" />

    <component id="DibsPageBuilder"
               service="UCommerce.Transactions.Payments.Dibs.DibsPageBuilder, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.Dibs.DibsPageBuilder, UCommerce.Transactions.Payments">
      <parameters>
        <Debug>false</Debug>
      </parameters>
    </component>
    
  </components>
</configuration>