<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- Ogone -->
    <component id="Ogone"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.Ogone.OgonePaymentMethodService, UCommerce.Transactions.Payments" />

    <component id="OgonePageBuilder"
               service="UCommerce.Transactions.Payments.Ogone.OgonePageBuilder, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.Ogone.OgonePageBuilder, UCommerce.Transactions.Payments">
    </component>

  </components>
</configuration>