<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- SagePay -->
    <component id="SagePayV3"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.SagePay.SagePayV3PaymentMethodService, UCommerce.Transactions.Payments" />

    <component id="SagePayMd5Computer"
               service="UCommerce.Transactions.Payments.SagePay.SagePayMd5Computer, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.SagePay.SagePayMd5Computer, UCommerce.Transactions.Payments" />

  </components>
</configuration>