<configuration>
  <components>
    <!-- QuickpayLink -->
    <component id="QuickpayLink"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.QuickpayLink.QuickpayPaymentMethodService, Ucommerce.Transactions.Payments.QuickpayLink" />

	<component id="QuickpayLink.SetupQuickpayLinkPaymentMethodDefinitionTask"
			   service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
			   type="Ucommerce.Transactions.Payments.QuickpayLink.Pipelines.Initialize.SetupQuickpayLinkPaymentMethodDefinitionTask, Ucommerce.Transactions.Payments.QuickpayLink" />

	  <partial-component id="Initialize">
		  <parameters>
			  <tasks>
				  <array>
					  <value insert="last">${QuickpayLink.SetupQuickpayLinkPaymentMethodDefinitionTask}</value>
				  </array>
			  </tasks>
		  </parameters>
	  </partial-component>

  </components>
</configuration>