<configuration>
  <components>
    <!-- Freepay -->
    <component id="Freepay"
               service="Ucommerce.Transactions.Payments.IPaymentMethodService, Ucommerce"
               type="Ucommerce.Transactions.Payments.Freepay.FreepayPaymentMethodService, Ucommerce.Transactions.Payments.Freepay" />

    <component
               id="FreepayInitialize.InitParameters"
               service="Ucommerce.Pipelines.IPipelineTask`1[[Ucommerce.Pipelines.Initialization.InitializeArgs, Ucommerce.Pipelines]], Ucommerce"
               type="Ucommerce.Transactions.Payments.Freepay.InitializeFreepayPipeline, Ucommerce.Transactions.Payments.Freepay" />

    <partial-component id="Initialize">
      <parameters>
        <tasks>
          <array>
            <value insert="last">${FreepayInitialize.InitParameters}</value>
          </array>
        </tasks>
      </parameters>
    </partial-component>
  </components>
</configuration>