<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentHttpBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentHttpBinding1" />
                <binding name="PaymentHttpBinding2">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentHttpBinding3" />
                <binding name="PaymentHttpBinding4">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentHttpBinding5" />
                <binding name="PaymentHttpBinding6">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentHttpBinding7" />
                <binding name="PaymentHttpBinding8">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentHttpBinding9" />
                <binding name="PaymentHttpBinding10">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentHttpBinding11" />
                <binding name="PaymentHttpBinding12">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentHttpBinding13" />
                <binding name="PaymentHttpBinding14">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentHttpBinding15" />
                <binding name="NotificationHttpBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="NotificationHttpBinding1" />
                <binding name="RecurringHttpBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RecurringHttpBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
                binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding"
                contract="UCommerce.Transactions.Payments.Adyen.Test.ModificationSoapService.PaymentPortType"
                name="PaymentHttpPort" />
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
                binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding2"
                contract="UCommerce.Transactions.Payments.Adyen.Test.ModificationSoapService.PaymentPortType"
                name="PaymentHttpPort1" />
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
                binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding4"
                contract="ServiceReference1.PaymentPortType" name="PaymentHttpPort2" />
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
                binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding6"
                contract="ServiceReference1.PaymentPortType" name="PaymentHttpPort3" />
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
                binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding8"
                contract="UCommerce.Transactions.Payments.Adyen.ModificationSoapService.PaymentPortType"
                name="PaymentHttpPort4" />
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
                binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding10"
                contract="ServiceReference1.PaymentPortType" name="PaymentHttpPort5" />
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
                binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding12"
                contract="ServiceReference1.PaymentPortType" name="PaymentHttpPort6" />
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Payment"
                binding="basicHttpBinding" bindingConfiguration="PaymentHttpBinding14"
                contract="Adyen.Test.ModificationSoapService.PaymentPortType"
                name="PaymentHttpPort7" />
            <endpoint address="https://ca-test.adyen.com/ca/services/Notification"
                binding="basicHttpBinding" bindingConfiguration="NotificationHttpBinding"
                contract="Adyen.Test.NotificationSoapService.NotificationPortType"
                name="NotificationHttpPort" />
            <endpoint address="https://pal-test.adyen.com/pal/servlet/soap/Recurring"
                binding="basicHttpBinding" bindingConfiguration="RecurringHttpBinding"
                contract="Adyen.Test.RecurringSoapService.RecurringPortType"
                name="RecurringHttpPort" />
        </client>
    </system.serviceModel>
</configuration>