<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <!-- PayPal -->
    <component id="PayPal Express"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.PayPal.PayPalExpressPaymentMethodService, UCommerce.Transactions.Payments" />

    <component id="PayPal Subscriptions"
               service="UCommerce.Transactions.Payments.IPaymentMethodService, UCommerce"
               type="UCommerce.Transactions.Payments.PayPal.PayPalRecurringPaymentMethodService, UCommerce.Transactions.Payments" />

    <component id="PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder"
               service="UCommerce.Transactions.Payments.PayPal.PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder, UCommerce.Transactions.Payments"
               type="UCommerce.Transactions.Payments.PayPal.PayPalWebSitePaymentsStandardRecurringPaymentPageBuilder, UCommerce.Transactions.Payments"/>

  </components>
</configuration>